<div data-ui-view>
</div>

<div class="container">
    <div class="row sign-footer">
        <div class="col-sm-4">
            GoAgile
        </div>
        <div class="col-sm-6">
            <div class="agreement" translate-compile="" translate-values="{url: 'http://www.scrumdesk.com/terms-of-service-and-privacy-policy/', type:'in'}" translate="user.sign.agreement">
                <span>Please review our </span><a ng-href="http://www.scrumdesk.com/terms-of-service-and-privacy-policy/" target="_blank" href="http://www.scrumdesk.com/terms-of-service-and-privacy-policy/">Terms of Service and Privacy</a><span>.</span><br>
                <span>By choosing to sign in you agree with these terms and conditions.</span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="version-box">v4.17.1</div>
        </div>
    </div>
</div>


